<style>
  .checkout-disabled .cart__checkout-additional,
  .checkout-disabled .cart__checkout {
    display:none;
  }
  
  .alcohol-notice {
    color:#fff;
    display:none;
  }
  
  .alcohol-notice a {
    text-decoration:underline;
  }
  
  .checkout-disabled .alcohol-notice {
    display:block;
  }

  .age-label {
    font-size:12px;
    margin-bottom:20px;
    display:none;
  }

  .required-field.missing {
    color:red;
  }
  
</style>

<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="cart">
      <div class="ajaxcart__inner">
        {% endraw %}
        <div class='clearfix ajaxcart__header'>
          <span class='floatL mobile-nav__header'>Your Basket <div class="header__actions__action__counter">{{ cart.item_count }}</div></span>
        </div>
        {% raw %}
        {{#items}}
        <div class="ajaxcart__product">
          <div class="ajaxcart__row" data-id="{{id}}" data-line="{{line}}">
            <div class="grid">
              <div class="grid__item one-third">
                <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt=""></a>
              </div>
              <div class="grid__item two-thirds table--full-height">

                {{!-- We use one <p> tag here because we want the styling of one
                multi-line paragraph, not three paragraphs.  It keeps our CSS much
                more consistent to not make custom paragraph rules for the cart.--}}

                <div class='display-table-cell'>
                  <p><a href="{{url}}" class='bold ajaxcart__product-title'>{{name}}</a>

                  <span class="ajaxcart__product-price">
                    {{{price}}}
                    {{#if numerousItems}}
                      <span class='faded'>x {{itemQty}}</span>
                    {{/if}}
                  </span>

                  {{#if variation}}
                    <span class="ajaxcart__product-meta">{{variation}}</span>
                  {{/if}}
                  {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                    <span class="ajaxcart__product-meta">{{ vendor }}</span>
                  {% endraw %}{% endif %}{% raw %}
                  {{#unless variation}}<br>{{/unless}}

                  {{#if properties}}
                      {{#each properties}}
                        {{@key}}: {{this}}
                        <br />
                      {{/each}}
                  {{/if}}

                  {{# unless properties}}
                    <br />
                  {{/unless}}

                  <a class='accent bold pointer js-remove-from-cart' data-id="{{id}}" data-line="{{line}}" href="javascript:void(0);">{% endraw %}{{ 'cart.general.remove' | t}}{% raw %}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/items}}

        {{#unless items.length}}
          {% endraw %}
            <div class="ajaxcart__empty">
              {{'cart.general.empty' | t}}
            </div>
          {% raw %}
        {{/unless}}

      </div>

      <div class="ajaxcart__footer">
        <div class="grid--full">
          <div class="grid__item two-thirds">
            <p>{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          </div>
          <div class="grid__item one-third text-right">
            <p>{{{totalPrice}}}</p>
          </div>
        </div>

        <div class="age-label required-field">
          <input type="checkbox" id="age-confirmation" />
          I am at least 21 years old have read and agree to the BrewDog 
          <a href="https://shopusa.brewdog.com/pages/terms-conditions" target="_blank">Terms & Conditions</a>. 
        </div>
        
        <p class="alcohol-notice">
               Minimum beer purchase is $29.99. Available beer can be found
              <a href="https://shopusa.brewdog.com/collections/beer">here</a>.
	    </p>

         <!--<input type="submit" name="checkout" class="btn btn--full cart__checkout" value="{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}" {{#unless items.length}}disabled{{/unless}}>{% endraw %}-->
         <a href="/cart" class="btn btn--full cart__checkout">{{ 'cart.general.checkout' | t }}</a>
        
        <div class="cart__checkout-additional">{{ content_for_additional_checkout_buttons }}</div>{% raw %}
		<div class="mobile-nav__view-cart"><a class="accent bold" href="/cart">View full basket</a></div>
      </div>

    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemMinus}}">&minus;</button>
      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemMinus}}">&minus;</button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</button>
    </div>
  {% endraw %}
  </script>
