<nav class="main-navigation nav-loading tk-league-gothic">
  <ul>
    {% assign mainMenu = section.settings.nav_linklist %}
    {% for link in linklists[mainMenu].links %}
      {% assign linkHandle = link.title | handle %}

      {% assign hasChildren = false %}
      {% if linklists[linkHandle].links.size > 0 %}
        {% assign hasChildren = true %}
      {% endif %}

      <li class="{% if hasChildren %}has-dropdown{% endif %}">
        <a href="{{ link.url }}" data-navigation-top-level>
          {{ link.title }}
          {% if hasChildren %}<svg><use xlink:href="#icon-dropdown"></use></svg>{% endif %}
        </a>

        {% if hasChildren %}
          {% assign count = 0 %}

          {% if linklists[linkHandle] == linklists[section.settings.catalog_menu] %}
            <div class="dropdown catalog-menu">
              <ul>
                {% for link in linklists[linkHandle].links %}
                  <li class="animation-sequence-{{ count }}" data-index="{{ forloop.index0 }}">
                    {{ link.title | link_to: link.url }}
                  </li>
                  {% assign count = count | plus: 1 %}
                {% endfor %}
              </ul>

              <div class="catalog-menu-image-container">
                {% if section.settings.catalog_menu_image != blank %}
                  <img src="{{ section.settings.catalog_menu_image | img_url: '400x', scale: 2 }}" class="catalog-menu-default-image" />
                {% endif %}

                {% for link in linklists[linkHandle].links %}
                  {% if link.type == "collection_link" %}
                    {% assign collection = link.object %}
                    {% assign image = collection.image | default: collection.products.first.featured_image %}

                    {% if image != blank %}
                      <img src="{{ image | img_url: '400x', scale: 2 }}" class="catalog-menu-collection-image" data-index="{{ forloop.index0 }}" />
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% else %}
            <ul class="dropdown">
              {% for link in linklists[linkHandle].links %}
                <li class="animation-sequence-{{ count }}">{{ link.title | link_to: link.url }}</li>
                {% assign count = count | plus: 1 %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </li>

    {% endfor %}
  </ul>
</nav>
